{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: ""
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h2 class="govuk-heading-m">Surveillance data submission portal support team</h2>
        <p>For technical support, data access issues, or general enquiries about the surveillacne data submission portal:</p>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Technical Support</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email</dt>
                <dd class="govuk-summary-list__value">
                  <a href="mailto:seda@apha.gov.uk" class="govuk-link">seda@apha.gov.uk</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Hours</dt>
                <dd class="govuk-summary-list__value">Monday to Friday, 9am to 5pm</dd>
              </div>
            </dl>
          </div>
        </div>

        <h2 class="govuk-heading-m">Surveillance Intelligence Unit</h2>
        <p>For questions about surveillance data, disease reporting, or analytical queries:</p>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Surveillance Team</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email</dt>
                <dd class="govuk-summary-list__value">
                  <a href="mailto:seda@apha.gov.uk" class="govuk-link">seda@apha.gov.uk</a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Hours</dt>
                <dd class="govuk-summary-list__value">Monday to Friday, 9am to 5pm</dd>
              </div>
            </dl>
          </div>
        </div>

        <h2 class="govuk-heading-m">Emergency disease reporting</h2>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            For urgent disease outbreaks or suspected notifiable diseases, call the APHA emergency hotline immediately.
          </strong>
        </div>

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Emergency Hotline</h3>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Phone</dt>
                <dd class="govuk-summary-list__value">
                  <strong>03000 200 301</strong>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Hours</dt>
                <dd class="govuk-summary-list__value">24 hours a day, 7 days a week</dd>
              </div>
            </dl>
          </div>
        </div>

        <h2 class="govuk-heading-m">External partners</h2>
        <p>You'll need a DEFRA ID to access the surveillance data portal.</p>
        <p>This system is for veterinary surveillance data submission.</p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            If you don't have a DEFRA ID or need access, contact APHA: <a href="mailto:seda@apha.gov.uk">seda@apha.gov.uk</a>
          </strong>
        </div>

      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <h3 class="govuk-heading-s">Typical response times</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>General enquiries: 2 working days</li>
          <li>Technical support: 1 working day</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
